{% extends "base.html" %}

{% block titulo %}Detalle de Evaluacion PTF CSTF{% endblock %}

{% block contenido %}
    <main>
        <h1>Detalle de Evaluacion PTF CSTF</h1>
        <div class="detalle-evaluacion">
            <p><strong>Resultado:</strong> {{ evaluacion.resultadoCSTF }}</p>
            <p><strong>Observaciones:</strong> {{ evaluacion.observaciones }}</p>
            <p><strong>Evaluador:</strong> {{ evaluacion.evaluadorCSTF }}</p>
            <p><strong>PTF Evaluado:</strong> {{ evaluacion.ptf_evaluadoCSTF }}</p>
            <p><strong>Informe de Evaluacion:</strong> {{ evaluacion.informeEvaluacionCSTF }}</p>
            <p><strong>Fecha de Evaluacion:</strong> {{ evaluacion.fechaEvaluacionCSTF }}</p>
        </div>
    </main>
{% endblock %}