{% extends "base.html" %}

{% block titulo %}Detalle de Evaluacion PTF TE{% endblock %}

{% block contenido %}
    <main>
        <h1>Detalle de Evaluacion PTF TE</h1>
        <div class="detalle-evaluacion">
            <p><strong>Resultado:</strong> {{ evaluacion.resultadoTE }}</p>
            <p><strong>Observaciones:</strong> {{ evaluacion.observaciones }}</p>
            <p><strong>Evaluador:</strong> {{ evaluacion.evaluadorTE }}</p>
            <p><strong>PTF Evaluado:</strong> {{ evaluacion.ptf_evaluadoTE }}</p>
            <p><strong>Informe de Evaluacion:</strong> {{ evaluacion.informeEvaluacionTE }}</p>
            <p><strong>Fecha de Evaluacion:</strong> {{ evaluacion.fechaEvaluacionTE }}</p>
        </div>
    </main>
{% endblock %}