{% extends "base.html" %}
{% load static %}
{% block titulo %}Detalle alumno{% endblock %}
{% block extra_css %} <link href="{% static 'css/detalle.css' %}" rel="stylesheet" > {% endblock %}
{% block contenido %}
<main>
    <div class='contenedorPrincipal'>
        <h1>Alumno: {{ alumno.dni }}</h1>
        <div class='contenedorDetalle'>
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'success' %}  <div class="message">{{ message }}</div>{% endif %}
                {% endfor %}
            {% endif %}

            <div class='contenedorInfo'>

                <p><strong>Nombre: </strong>{{ alumno.nombre }}</p><br>
                <p><strong>Apellido: </strong>{{ alumno.apellido}}</p><br>
                <p><strong>DNI: </strong>{{ alumno.dni}}</p><br>
                <p><strong>Matricula: </strong>{{ alumno.matricula}}</p><br>
                <p><strong>Correo: </strong>{{ alumno.correo}}</p><br>
            </div>
            <div class='botones'>
                {% if perms.usuarios.permiso_administrador %}
                    <button class='btnVolver btn'><a href="{% url 'persona:lista_alumno' %}">Volver</a></button>
                    <button class='btnEditar btn'><a href="{% url 'persona:edit_alumno' alumno.id %}">Editar</a></button>
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock %}