{% extends "base.html" %}
{% block titulo %}Edición de Alumno{% endblock %}
{% block contenido %}
<main>
    <h1>Edición de Alumno</h1>
    <form method="post" enctype="multipart/form-data">
            <div class="campo">
                {{ form.nombre.errors }}
                <label for="{{ form.nombre.id_for_label}}">Nombre:</label>
                {{ form.nombre }}
            </div>
            <br>
            <div class="campo">
                {{ form.apellido.errors }}
                <label for="{{ form.apellido.id_for_label}}">Apellido:</label>
                {{ form.apellido }}
            </div>
            <br>
            <div class="campo">
                {{ form.dni.errors }}
                <label for="{{ form.dni.id_for_label}}">DNI:</label>
                {{form.dni}}
            </div>
             <br>
            <div class="campo">
                {{ form.matricula.errors }}
                <label for="{{ form.matricula.id_for_label}}">Matricula:</label>
                {{ form.matricula }}
            </div>
             <br>
            <div class="campo">
                {{ form.correo.errors }}
                <label for="{{ form.correo.id_for_label}}">Correo:</label>
                {{ form.correo }}
            </div>
        {% csrf_token %}
        <input type="submit" value="Actualizar">
    </form>
</main>
{% endblock %}