{% extends "base.html" %}
{% load static %}
{% block titulo %}Lista Docentes{% endblock %}
{% block extra_css %}
 <link href="{% static 'css/tabla.css' %}" rel="stylesheet" >
{% endblock %}
{% block contenido %}

    <main>  
        <h2>Lista de Docentes</h2>

        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}  <div class="message" role="status">{{ message }}</div>{% endif %}
                {% if message.tags == 'error' %}  <div class="errors" role="alert">{{ message }}</div>{% endif %}
            {% endfor %}
        {% endif %}

        {% if perms.usuarios.permiso_administrador %}
            <div class='agregado'>
                <div class='contendorBusqueda'>
                    
                        <p>Buscar:</p>
                        <form action="{% url 'persona:lista_docente' %}" method="GET">
                            <input class='buscar' id='campoBusqueda' type="number" placeholder="Buscar" name='buscar' value="">
                            <button class='BotonBuscar' type='submit' >Buscar</button>
                        </form>
                    
                </div>

                <button class='BotonAgregar'> <a href="{% url 'persona:registro_docente' %} ">Agregar Docente</a></button>
            </div>
        {% endif %}
        
            <div class= 'contenedorTabla'>
                <table>
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Cuil</th>
                            {% if perms.usuarios.permiso_administrador %}
                                <th></th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% if docentes %}
                            {% for docente in docentes %}
                                <tr>
                                    <td>{{ docente.nombre }}</a></td>
                                    <td>{{ docente.apellido}}</td>
                                    <td>{{ docente.cuil }}</td>
                                    {% if perms.usuarios.permiso_administrador %}
                                        <td>
                                            <div class='btnTabla'>
                                                <button class= 'BotonVer'><a href="{% url 'persona:edit_docente' docente.id %}">Modificar</a></button>
                                                
                                                <form action="{% url 'persona:delete_docente' %}" method="POST">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="id_docente" value="{{ docente.id }}">
                                                    <input class='BotonEliminar' type="submit" value="Eliminar" onclick="return confirm('¿Está seguro que desea eliminar el registro?');">  
                                                </form>
                                            
                                            </div>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        {% else %}
                            <p>No hay comisiones.</p>
                        {% endif %} 
                    </tbody>
                </table>
            </tr>
        
            
    </main>

{% endblock %}