{% extends "base.html" %}
{% block titulo %}Lista Asesor{% endblock %}
{% block contenido %}

<main>
    <secction class='seccionClasico'>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}  <div class="message" role="status">{{ message }}</div>{% endif %}
                {% if message.tags == 'error' %}  <div class="errors" role="alert">{{ message }}</div>{% endif %}
            {% endfor %}
        {% endif %}
        <h2>Lista de Asesor</h2>
        <table>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Cuil</th>
                <th>Curriculum</th>
            </tr>
            {% for asesor in asesores %}
                <tr>
                <td>{{ asesor.nombre }}</a></td>
                <td>{{ asesor.apellido}}</td>
                <td>{{ asesor.cuil }}</td>
                <td>{{ asesor.curriculum }}</td>
                </tr>
            {% endfor %}
        </table>
    </secction>
  </main>
{% endblock %}