{% extends "base.html" %}
{% load static %}
{% block titulo %}Registro{% endblock %}
{% block extra_css %}
 <link href="{% static 'css/form.css' %}" rel="stylesheet" >
{% endblock %}
{% block contenido %}
  <main>
    <div class='contenedorPrincipal'>
      <h1>Registro alumnos</h1>
      <div class='contenerdorForm'>
        <p>Ingrese los datos del alumno:</p>

        <form method="post" id='formAlumno' class='formulario'>
          {% csrf_token %}
          {% for field in form %}
            <div class="campo formulario__grupo" id="grupo__{{ forloop.counter }}">
              {{ field.errors }}
              <label for="{{ field.id_for_label }}" class="campoLabel formulario__label">{{ field.label_tag }}</label>
              {{ field }}
            </div><br>
          {% endfor %}

          <div class='formulario__grupo' id='grupo__1'>
            <p class = 'formulario__input-error'>El nombre solo puede contener letras.</p>
          </div>
          <div class='formulario__grupo' id='grupo__2'>
            <p class = 'formulario__input-error'>El Apellido solo puede contener letras.</p>
          </div>
          <div class='formulario__grupo' id='grupo__3'>
            <p class = 'formulario__input-error'>El DNI debe contener 8 numeros</p>
          </div>
          <div class='formulario__grupo' id='grupo__4'>
            <p class = 'formulario__input-error'>La matricula debe contener 5 numeros.</p>
          </div>
          <div class='formulario__grupo' id='grupo__5'>
            <p class = 'formulario__input-error'>El correo solo puede contener letras, numeros, puntos, guiones y guion bajo.</p>
          </div>

          
          <p class='formulario__mensaje' id='formulario__mensaje'><i class="fa-solid fa-circle-exclamation" style="color: #e32400;"></i> Error: Por favor relleno el formulario correctamente</p>
          
          
          <p class='formulario__mensaje-exito' id='formulario__mensaje-exito'><i class="fa-solid fa-circle-check" style="color: #77bb41;"></i> El formulario se envio existosamente</p>
            
          <div class='botones'>
            <button class= 'BotonCancelar'><a href="{% url 'persona:lista_alumno' %} " >Cancelar</a></button>
            <input class='botonGuardar' type="submit" value="Registrar">
          </div>
        </form>

      </div>
    </div>
  </main>
{% endblock %}
{% block extra_js %}
  <script src="{% static 'js/validaciones.js' %}"></script>
{% endblock %}