/* Estilos para la tabla */
main{
  padding: 40px 20px;
  margin-top: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 30px;
  margin-top: 10px;
}

.material-symbols-outlined{
  font-size: 30px;
}

.contenedorTabla{
  width: 70%;
  margin: 0 auto;
  font-size: 16px;
}

.contenedorTabla table{
  border-collapse: collapse;
  width: 100%;
}

.contenedorTabla table,
.contenedorTabla table th,
.contenedorTabla table tr{
  padding: 30px 30px;
}

.contenedorTabla table th{
  font-weight: bolder;
  border-bottom: solid 1px #ccc;
  background-color:#2196f3;
  color: white;
  text-align: center;
}

.contenedorTabla table td{
  border-bottom: solid 1px #ccc;
  text-align: center;
}

.contenedorTabla table tr:nth-child(even){
  background-color: #deeef8;
}

.contenedorTabla table tr:hover{
  background-color: #e0e0e0;
}

.contenedorTabla table td, 
.contenedorTabla table th{
  padding: 8px;
  text-align: center;
}

.contenedorBotones {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button, .BotonEliminar{
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  width: 100px;
}

.BotonAgregar {
  background-color: #28A745;
  width: 20%;
}

.BotonVer {
  background-color: #0056b3;
}

.BotonVer:hover {
  background-color: #0026e9;
  color: white;
}

a{
  text-decoration: none;
  color: white;
}

.agregado {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; 
}

.contendorBusqueda {
  display: flex;
  align-items: center;
}

p {
  margin-right: 10px; 
}

.buscar {
  padding: 7px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.BotonBuscar a, .BotonAgregar a {
  color: white;
}

.BotonBuscar{
  margin-left: 10px;
  background-color: #008eea;
}

.BotonBuscar:hover{
  background-color: #2196f3;
}

.BotonAgregar:hover{
  background-color: #68da3e;
}


.BotonEliminar {
  background-color: #DC3545;
}

.BotonEliminar:hover {
  background-color: #f80000;
}