{% extends "base.html" %}
{% block titulo %}Informe 1{% endblock %}
{% block contenido %}
<main>
    <h1>Informen 1: Listado de los PTF según su estado y rango de fecha</h1>

    <form id="miFormulario" method="GET">
        {% csrf_token %}
        <label for="estado">Estado:</label>
        <input type="text" name="estado" id="estado">
        <br>
        <label for="fecha_inicio">Fecha de inicio:</label>
        <input type="date" name="fecha_inicio" id="fecha_inicio">
        <br>
        <label for="fecha_fin">Fecha de fin:</label>
        <input type="date" name="fecha_fin" id="fecha_fin">
        <br>
        <button type="submit" id="myButton">Filtrar</button>
    </form>


        {% if object_list %}
            <ul >
                {% for objeto in object_list %}
                   <li><a href="{% url 'proyecto_trabajo_final:proyecto_detalle' objeto.proyecto.id %}">{{ objeto.proyecto.titulo }}</a></li>

                {% endfor %}
            </ul>
        {% else %}
            <p>No se encontraron proyectos que coincidan con los criterios de búsqueda.</p>
        {% endif %}

    </main>
{% endblock %}