{% extends "base.html" %}
{% load static %}
{% block titulo %}Creacion del Proyecto{% endblock %}
{% block extra_css %}
 <link href="{% static 'css/form.css' %}" rel="stylesheet" >
{% endblock %}
{% block contenido %}
    <main>
         <div class='contenedorPrincipal'>
        <h1>Creacion del Proyecto de Trabajo Final</h1>
             <div class='contenerdorForm'>
        <form method="post" enctype="multipart/form-data">
            {% for field in form %}
              <div class="campo">
                {{ field.errors }}
                   <label for="{{ field.id_for_label }}" class="campoLabel">{{ field.label_tag }}</label>
               {{ field }}
              </div><br>
            {% endfor %}
          {% csrf_token %}
             <div class='botones'>
              <button class= 'BotonCancelar'><a href="{% url 'proyecto_trabajo_final:proyecto_lista' %} " >Cancelar</a></button>
              <input class='botonGuardar' type="submit" value="Guardar">
            </div>
        </form>
         </div>
             </div>
    </main>
{% endblock %}