{% extends "base.html" %}
{% block titulo %}Creacion del Proyecto{% endblock %}
{% block contenido %}
    <main>
         <div  style="display: flex; flex-direction: column; gap:20px;">
        <h1>Creacion del Proyecto de Trabajo Final</h1>
        <form method="post" enctype="multipart/form-data">
            {% for field in form %}
              <div class="campo">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
              </div><br>
            {% endfor %}
          {% csrf_token %}
          <input type="submit" value="Guardar">
        </form>
         </div>
    </main>
{% endblock %}