{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block titulo %}Gestion de trabajos finales{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://kit.fontawesome.com/ec88d42f1e.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Permanent+Marker&display=swap"
    rel="stylesheet">
    <script src="https://kit.fontawesome.com/42b0819548.js" crossorigin="anonymous"></script>
    <link  href="{% static 'css/styles.css' %}"  rel="stylesheet">
    {% block extra_css %}{% endblock %}
  </head>

  <body>


    <header>
      <div class="header-superior">
        <!-- Write your comments here -->
        <div class="logos">
          <img src="https://res.cloudinary.com/dczlfdat0/image/upload/v1698281148/logo-unca_hxdisk.png" alt="unca">
          <img src="https://res.cloudinary.com/dczlfdat0/image/upload/v1698281428/LogoFTCA_afy2tq.png" alt="tecno">
        </div>

        <h2>Gestión de trabajos finales</h2>
        <a href="{% url 'usuarios:logout_view' %}" style=" color: #334eac;">Cerrar Sesión</a>
      </div>

      {% if perms.usuarios.permiso_administrador %}
        <div class="container-menu">  
          <div class="menu">
            <input type="checkbox" name="" id="check__menu">
            <label id="#label__Check" for="check__menu">
              <i class="fa-solid fa-bars icon__menu"></i>
            </label>
            <nav>
              <ul>
                <li><a href="{% url 'usuarios:index_admin' %}">Inicio</a></li>
                <li><a href="#">Registros</a>
                  <ul>
                    <li><a href="{% url 'comisiones:cstf_lista' %}">CSTF's</a></li>
                    <li><a href="{% url 'comisiones:te_lista' %}">Tribunales Evaluadores</a></li>
                    <li><a href="{% url 'persona:lista_alumno' %}">Alumnos</a></li>
                    <li><a href="{% url 'persona:lista_docente' %}">Docentes</a></li>
                    <li><a href="{% url 'persona:lista_asesor' %}">Asesores</a></li>
                    <li><a href="{% url 'proyecto_trabajo_final:proyecto_lista' %}">Proyecto de trabajo final</a></li>
                    <li><a href="{% url 'proyecto_trabajo_final:proyecto_lista' %}">Movimientos y estados de un PTF</a></li>

                  </ul>
                </li>
                <li><a href="{% url 'proyecto_trabajo_final:estadisticas' %}">Informes</a></li>

              </ul>
            </nav>
          </div>
        </div>
      {% endif %}

      {% if perms.persona.permiso_cstf %}
        <div class="container-menu">  
          <div class="menu">
            <input type="checkbox" name="" id="check__menu">
            <label id="#label__Check" for="check__menu">
              <i class="fa-solid fa-bars icon__menu"></i>
            </label>
            <nav>
              <ul>
                <li><a href="{% url 'usuarios:index_admin' %}">Inicio</a></li>
                <li><a href="{% url 'dictamenes:cstf_listaEvaluacionesComision' user.username %}">Evaluaciones</a></li>
                <li><a href="#">Proyectos Asignados</a>
                  <ul>
                    <li><a href="{% url 'proyecto_trabajo_final:cstf_PTFSnoEvaluados' %}">Sin Evaluar</a></li>

                  </ul>
                </li>
                <li><a href="{% url 'comisiones:cstf_misComisiones' user.username %}">Mi Comision</a></li>
              </ul>
            </nav>
          </div>
        </div>
      {% endif %}

       {% if perms.persona.permiso_alumno %}
          <div class="container-menu">
            <div class="menu">
              <input type="checkbox" name="" id="check__menu">
              <label id="#label__Check" for="check__menu">
                <i class="fa-solid fa-bars icon__menu"></i>
              </label>
              <nav>
                <ul>
                <li><h1 style=" color: white;">Tu proyecto</h1></li>

              </nav>
        {% endif %}

        {% if perms.persona.permiso_te %}
          <div class="container-menu">  
            <div class="menu">
              <input type="checkbox" name="" id="check__menu">
              <label id="#label__Check" for="check__menu">
                <i class="fa-solid fa-bars icon__menu"></i>
              </label>
              <nav>
                <ul>
                  <li><a href="{% url 'usuarios:index_admin' %}">Inicio</a></li>
                  <li><a href="{% url 'comisiones:te_misTribunales' user.username %}">Mis Tribunales</a></li>
                  <li><a href="{% url 'proyecto_trabajo_final:proyecto_informen2' %}">Proyectos Asignados</a></li>
                </ul>
              </nav>
            </div>

          </div>
        {% endif %}
    </header>

<!-- PARA LOGIN -->
 {% if not user.is_authenticated %}
     <header>
     <div class="header-superior">

          <div class="logos">
            <img src="https://res.cloudinary.com/dczlfdat0/image/upload/v1698281148/logo-unca_hxdisk.png" alt="unca">
            <img src="https://res.cloudinary.com/dczlfdat0/image/upload/v1698281428/LogoFTCA_afy2tq.png" alt="tecno">
          </div>

          <h2>Gestión de trabajos finales</h2>
           <div class="buscador" style="visibility: hidden;">
            <input type="search" name="" placeholder="¿Qué estás buscando?">
           </div>

        </div>
        <div class="container-menu">
          <div class="menu">
            <input type="checkbox" name="" id="check__menu">
            <label id="#label__Check" for="check__menu">
              <i class="fa-solid fa-bars icon__menu"></i>
            </label>
     </header>
     {% endif %}


        <section>
                {% block contenido %}
                {% endblock %}
        </section>

        <footer>
          <h3>&copy Gestión de trabajos finales</h3>
          <h4>UNCa | Facultad de Tecnologia y Ciencias Aplicadas</h4>
        </footer>

        {% block extra_js %}{% endblock %}
    </body>

</html>