{% extends "base/base.html" %}
{% block titulo %}Inicio{% endblock %}
{% block contenido %}
    <main>

    <section class="contenedor">
      <div class="opcion opcion-1 opcion-a">
        <a href="./pages/2_registroCSTF.html">Registrar integrantes de la CSTF</a>
      </div>

      <div class="opcion opcion-2 opcion-b">
        <a href="./pages/2_registroTE.html">Registrar integrantes del tribunal evaluador</a>
      </div>

      <div class="opcion opcion-3 opcion-c">
        <a href="/pages/inscripcionalumno.html"> Registrar alumnos</a>
      </div>

      <div class="opcion opcion-3 opcion-a">
        <a href="#">Registrar proyecto de trabajo final</a>
      </div>

      <div class="opcion opcion-1 opcion-b">
        <a href="#">Registrar movimientos y estados de un PTF</a>
      </div>

      <div class="opcion opcion-2 opcion-c">
        <a href="#">Registrar informes y evaluciones</a>
      </div>

      <div class="opcion  opcion-2 opcion-a">
        <a href="#"> Listado de los PTF</a>
      </div>

      <div class="opcion opcion-3 opcion-b">
        <a href="#">Listado de tribunales evaluadores y sus PTF </a>
      </div>

      <div class="opcion opcion-1 opcion-c">
        <a href="#">Emitir evaluación formal</a>
      </div>

    </section>
  </main>

{% endblock %} 