{% extends "base.html" %}
{% load static %}
{% block titulo %}Detalle de la CSTF{% endblock %}
{% block extra_css %} <link href="{% static 'css/detalle.css' %}" rel="stylesheet" > {% endblock %}
{% block contenido %}
    <main>
        <div class='contenedorPrincipal'>
            <h1>Comision de Seguimiento de Trabajo Final</h1>
            <div class='contenedorDetalle'>
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'success' %}  <div class="message">{{ message }}</div>{% endif %}
                    {% endfor %}
                {% endif %}
                <div class='contenedorInfo'>
                    <p><strong>Nro. de Resolucion: </strong>{{ comision.nroResolucionComision }}</p>
                    <br>
                    <p><strong>Fecha de Resolucion: </strong>{{ comision.fechaDeCreacionComision|date:"SHORT_DATE_FORMAT" }}</p>
                    <br>
                    <p><strong>Archivo Resolucion:</strong>
                        {% if comision.archivoResolucion %}
                            {{ comision.archivoResolucion }}
                        {% else %}
                        No posee
                        {% endif %}
                    </p>
                    <br>
                    <p><strong>Integrantes:</strong></p>
                </div>
                <div id='divTabla'>
                    <table clase='tabla'>
                        <tr clase='encabezado'>
                            <th>Docente</th>
                            <th>Comision</th>
                            <th>Fecha Alta</th>
                            <th>Fecha Baja</th>
                            {% if perms.usuarios.permiso_administrador %}
                                <th></th>
                            {% endif %}
                        </tr>
                        {% for integrante in integrantes %}
                            <tr>
                                <td>{{ integrante.docente }}</td>
                                <td>{{ integrante.comision }}</td>
                                <td>{{ integrante.fecha_alta_cs|date:"SHORT_DATE_FORMAT" }}</td>
                                <td>{{ integrante.fecha_baja_cs|default_if_none:"---"  }}</td>
                                {% if perms.usuarios.permiso_administrador %}
                                    <td>
                                        <div class='btnTabla'>
                                            <button class='btn btnEditar'><a href="{% url 'comisiones:integranteComision_edit' integrante.id comision.id %}">Modificar</a></button>
                                            <form action="{% url 'comisiones:integranteComision_delete' comision.id%}" method="POST">
                                                {% csrf_token %}
                                                <input type="hidden" name="id_integrante" value="{{ integrante.id }}">
                                                <input class='btn btnRojo' type="submit" value="Eliminar" onclick="return confirm('¿Está seguro que desea eliminar el registro?');">
                                            </form>
                                        </div>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                    {% if perms.usuarios.permiso_administrador %}
                        <button class='btnAgregar btn' ><a href="{% url 'comisiones:integranteComision_create' comision.id %}">Agregar Integrante</a></button>
                    {% endif %}
                </div>
        

                <div class='botones'>
                    {% if perms.persona.permiso_cstf %}
                        <button class='btnVolver btn'><a href="{% url 'comisiones:cstf_misComisiones' user.username %}">Volver</a></button>
                    {% endif %}
                    {% if perms.usuarios.permiso_administrador %}
                        <button class='btnVolver btn'><a href="{% url 'comisiones:cstf_lista' %}">Volver</a></button>
                        <button class='btnEditar btn'><a href="{% url 'comisiones:cstf_edit' comision.id %}">Editar</a></button>
                    {% endif %}
                </div>

            </div>
        </div>
    </main>
{% endblock %}