{% extends "base.html" %}
{% block titulo %}Detalle de la CSTF{% endblock %}
{% block contenido %}
    <main>
        <h1>Comision de Seguimiento de Trabajo Final</h1>
        
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}  <div class="message">{{ message }}</div>{% endif %}
            {% endfor %}
        {% endif %}

        <p><strong>Nro. de Resolucion: </strong>{{ comision.nroResolucionComision }}</p>
        <p><strong>Fecha de Resolucion: </strong>{{ comision.fechaDeCreacionComision|date:"SHORT_DATE_FORMAT" }}</p>
        <p><strong>Archivo Resolucion:</strong>
            {% if comision.archivoResolucion %}
                {{ comision.archivoResolucion }}
            {% else %}
            No posee
            {% endif %}
        </p>

        <form action="{% url 'comisiones:cstf_delete' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="id_comision" value="{{ comision.id }}">
            <button><a href="{% url 'comisiones:cstf_edit' comision.id %}">Editar</a></button>
            <input type="submit" value="Eliminar" onclick="return confirm('¿Está seguro que desea eliminar el registro?');">
        </form>
    </main>
{% endblock %}