{% extends "base.html" %}
{% load static %}
{% block titulo %}Edición de Integrante de la Comision{% endblock %}
{% block extra_css %}
 <link href="{% static 'css/form.css' %}" rel="stylesheet" >
{% endblock %}
{% block contenido %}
<main>
    <div class='contenedorPrincipal'>
        <h1>Edición de Integrante de la Comision</h1>
        <div class='contenerdorForm'>
            <form method="post" enctype="multipart/form-data">
                    <div class="campo">
                        {{ form.docente.errors }}
                        <label for="{{ form.docente.id_for_label}}">Docente:</label>
                        {{ form.docente }}
                    </div>
                    <br>
                    <div class="campo">
                        {{ form.comision.errors }}
                        <label for="{{ form.comision.id_for_label}}">Comision:</label>
                        {{ form.comision }}
                    </div>
                    <br>
                    <div class="campo">
                        {{ form.fecha_alta_cs.errors }}
                        <label for="{{ form.fecha_alta_cs.id_for_label}}">Fecha Alta:</label>
                        {{ form.fecha_alta_cs }}
                    </div>
                    <br>
                    <div class="campo">
                        {{ form.fecha_baja_cs.errors }}
                        <label for="{{ form.fecha_baja_cs.id_for_label}}">Fecha Baja:</label>
                        {{ form.fecha_baja_cs }}
                    </div>
                    <br>
                    
                {% csrf_token %}
                <div class='botones'>
                    <input class='botonGuardar' type="submit" value="Actualizar">
                </div>
            </form>
        </div>
        <div class='botones'>
            <button class= 'BotonCancelar btnEspecialedit'><a href="{% url 'comisiones:cstf_detalle' comisionId %}" >Cancelar</a></button>
        </div>
    </div>
</main>
{% endblock %}