{% extends "base.html" %}
{% load static %}
{% block titulo %}Lista de TE{% endblock %}
{% block extra_css %}
 <link href="{% static 'css/tabla.css' %}" rel="stylesheet" >
{% endblock %}
{% block contenido %}
    <main>
        <br><h2>Lista de Tribunales Evaluadores</h2><br><br>

        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}  <div class="message" role="status">{{ message }}</div>{% endif %}
                {% if message.tags == 'error' %}  <div class="errors" role="alert">{{ message }}</div>{% endif %}
            {% endfor %}
        {% endif %}

        {% if perms.usuarios.permiso_administrador %}
            <div class='agregado'>
                <div class='contendorBusqueda'>
                    
                        <p>Buscar:</p>
                        <form action="{% url 'comisiones:te_lista' %}" method="GET">
                            <input class='buscar' id='campoBusqueda' type="number" placeholder="Buscar" name='buscar' value="">
                            <button class='BotonBuscar' type='submit' >Buscar</button>
                        </form>
                    
                </div>

                <button class='BotonAgregar'> <a href="{% url 'comisiones:te_create' %} ">Agregar Tribunal</a></button>
            </div>
        {% endif %}
        <br>
        {% if tribunales %}
            <div class= 'contenedorTabla'>
                <table>
                    <thead>
                        <tr>
                            <th>Nro. Dictamen</th>
                            <th>Fecha Dictamen</th>
                            <th>Proyecto</th>
                            <th>Archivo Dictamen</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tribunal in tribunales %}
                            <tr>
                                <td>{{ tribunal.nroDisposicionTribunal }}</td>
                                <td>{{ tribunal.fechaCreacionTribunal|date:"SHORT_DATE_FORMAT" }}</td>
                                <td>{{ tribunal.proyectoTE }}</td>
                                <td>{{ tribunal.archivoDisposicion}}</td>
                                <td>
                                    <div class='contenedorBotones'>
                                        <button class= 'BotonVer'><a href="{% url 'comisiones:te_detalle' tribunal.id %} ">Detalles</a></button>
                                        {% if perms.usuarios.permiso_administrador %}
                                            <form action="{% url 'comisiones:te_delete' %}" method="POST">
                                                {% csrf_token %}
                                                <input type="hidden" name="id_tribunal" value="{{ tribunal.id }}">
                                                <input class='BotonEliminar' type="submit" value="Eliminar" onclick="return confirm('¿Está seguro que desea eliminar el registro?');">
                                            </form>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div> 
        {% else %}
            <br><br><p>No hay tribunales.</p>
        {% endif %} 
    </main>

{% endblock %}