{% extends "base.html" %}
{% block titulo %}Home Admin{% endblock %}
{% block contenido %}
    <main>

    <section class="contenedor">
      <div class="opcion opcion-1 opcion-a">
        <a href="{% url 'comisiones:cstf_create' %}">Registrar integrantes de la CSTF</a>
      </div>

      <div class="opcion opcion-2 opcion-b">
        <a href="#">Registrar integrantes del tribunal evaluador</a>
      </div>

      <div class="opcion opcion-3 opcion-c">
        <a href="{% url 'persona:registro_alumno' %}"> Registrar alumnos</a>
      </div>

      <div class="opcion opcion-3 opcion-a">
        <a href="{% url 'proyecto_trabajo_final:proyecto_create' %}">Registrar proyecto de trabajo final</a>
      </div>

      <div class="opcion opcion-1 opcion-b">
        <a href="{% url 'proyecto_trabajo_final:proyecto_lista' %}">Registrar movimientos y estados de un PTF</a>
      </div>

      <div class="opcion opcion-2 opcion-c">
        <a href="#">Registrar informes y evaluciones</a>
      </div>

      <div class="opcion  opcion-2 opcion-a">
        <a href="{% url 'proyecto_trabajo_final:proyecto_lista' %}"> Listado de los PTF</a>
      </div>

      <div class="opcion opcion-3 opcion-b">
        <a href="{% url 'proyecto_trabajo_final:proyecto_informen2' %}">Listado de tribunales evaluadores y sus PTF </a>
      </div>

      <div class="opcion opcion-1 opcion-c">
        <a href="#">Emitir evaluación formal</a>
      </div>

    </section>
  </main>

{% endblock %} 