<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

    <h2>Iniciar sesión </h2>
     {% if msj %}
        <div>{{ msj }}</div>
    {% endif %}
    <form action="{% url 'usuarios:login_view' %}" method="post">
        {% csrf_token%}
        <label for = "username" >
            usuario
            <input type="text" name="username">
        </label>
        <label for="password" >
            contraseña
            <input type="password" name="password" >
        </label>
        <button type="submit">Iniciar sesión</button>
    </form>
</body>
</html>