{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block titulo %}Gestion de trabajos finales{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/ec88d42f1e.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap" rel="stylesheet">
        <link  href="{% static 'css/login.css' %}"  rel="stylesheet">
        {% block extra_css %}{% endblock %}
    </head>

    <body>
        <main>
            <section>
                <div class='contenedor'>
                    <div class='formulario'>
        
                        <form action="{% url 'usuarios:login_view' %}" method="post">
                            <h2><strong>Iniciar Sesion</strong><h2>
        
                            <div class="input-contenedor">
                                <i class="fa-solid fa-user"></i>
                                <input type="text" name="username" required>
                                <label for = "#" >Usuario</label>
                            </div>
        
                            <div class="input-contenedor">
                                <i class="fa-solid fa-lock"></i>
                                <input type="password" name="password" required >
                                <label for="#" >Contraseña</label>
                            </div>
        
                            <div class='botones'>
                                <button  type="submit">Acceder</button>
                            </div>
                            {% csrf_token%}
                        </form>

                        {% if msj %}
                            <div class="mensaje">
                                <p>{{ msj }}</p>
                            <div>
                        {% endif %}
                    </div>
                </div>
            </section>
        </main>

            
    </body>

</html>

